.performed {
    color: red ;
    text-decoration: line-through;
}

.notDone {
    color: green;
}
.todo_list {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-top: 2%;
    word-break: break-all;
}
.error_input {
    color: red;
    margin-top: 0;
    position: absolute;
    margin-left: 33%;
    text-shadow: 2px 2px 2px red;
}